
  <td  class = <%= if params[:sort].nil?
    'ASC'
  
  elsif params[:sort].split(' ')[0] == 'title'
    params[:sort].split(' ')[1]
  end  %>>
    <%= movie.title %>
  </td>

  <td class = <%= unless params[:sort].nil?
    if params[:sort].split(' ')[0] == 'rating'
      params[:sort].split(' ')[1]
    end 
  end  %>> 
    
    <%= movie.rating %>
  </td>


  <td class = <%= unless params[:sort].nil?
    if params[:sort].split(' ')[0] == 'release_date'
      params[:sort].split(' ')[1]
    end 
  end  %>>
    
    <%= movie.release_date.strftime('%Y-%m-%d') %>
  </td>

